*{
    margin: 0px;
    padding: 0px;
}

.toda-pagina{

}

.titulo{
    font-size: 45px;
    text-align: center;
    margin: 0.01rem;
    padding: 0.05rem;
    color: blue;
}

.description{
    margin: 25px;
    padding: 15px;
    border: 2px solid black;
    padding-top: 0.03rem;
}

b{
    color: red;
}

img{
    width: -webkit-fill-available;
    width: 60%;
}

@media (max-width: 1440px){
    
    .toda-pagina{
        font-size: 20px;
        width: 100%;
        margin-left: -7px;
    }

    .titulo{
        font-size: 55px;
        
    }
    
    .description{
        margin: 5px;
        padding: 5px;
        font-size: 25px;
    }
    
    
    b{
        color: red;
    }
    
    img{
        width: 100%;
    }

    img:hover{
        width: 100%;
    }
}

@media (max-width: 769px){
    
    .toda-pagina{
        font-size: 15px;
        width: 100%;
        margin-left: -13px;
    }

    .titulo{
        font-size: 30px;
        
    }
    
    .description{
        margin: 5px;
        padding: 5px;
        border: 2px solid black;
    }
    
    b{
        color: red;
    }
    
    img{
        width: 100%;
    }
    img:hover{
        width: 100%;
    }
}

@media (max-width: 426px){
    
    .toda-pagina{
        font-size: 10px;
        width: 100%;
        padding-left: 6px;
    }

    .titulo{
        font-size: 21px;
        
    }
    
    .description{
        margin: 0px;
        padding: 4px;
        border: 2px solid black;
        font-size: 10px;
    }
    
    b{
        color: red;
    }
    
    img{
        width: 100%;
    }
    img:hover{
        width: 100%;
    }
}

@media (max-width: 376px){
    *{
        margin: 0px;
        padding: 0px;
    }
    
    .toda-pagina{
        font-size: 10px;
        width: 100%;
        padding-left: 6px;
    }

    .titulo{
        font-size: 20px;
        
    }
    
    .description{
        margin: 0px;
        padding: 4px;
        border: 2px solid black;
        font-size: 10px;
    }
    
    b{
        color: red;
    }
    
    img{
        width: 100%;
    }
    img:hover{
        width: 100%;
    }
}

@media (max-width: 321px){
    *{
        margin: 0px;
        padding: 0px;
    }
    
    .toda-pagina{
        font-size: 10px;
        width: 100%;
    }

    .titulo{
        font-size: 21px;
        
    }
    
    .description{
        margin: 0px;
        padding: 10px;
        border: 2px solid black;
        font-size: 10px;
    }
    
    b{
        color: red;
    }
    
    img{
        width: 100%;
    }
    img:hover{
        width: 100%;
    }
}








